{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cycle list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_cycle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.number }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_cycle_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_cycle_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_cycle_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
